[submodule "themes/sk3"]
	path = themes/sk3
	url = https://github.com/J-Siu/hugo-theme-sk3
[submodule "themes/hugo-theme-sk3"]
	path = themes/hugo-theme-sk3
	url = https://github.com/J-Siu/hugo-theme-sk3.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
